<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat.openai.com</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="/assets/css/ChatgptClon.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">
    <link rel="manifest" href="/assets/img/site.webmanifest">



</head>
<body>
<div class="top_div">
    <div>
        <nav id="sidebar">
    <ul>
      <li>
        <div id="newChat"><span class="fas fa-plus mr-3"></span> New chat</div>
        <div class="sidebar_icon">
            <i class="fas fa-bars" id="openIcon"></i>
        </div>
      </li>
      <hr>
        <a href="#" class="upgrade"><span class="fa fa-thumbs-up mr-3 upgrade"></span>Upgrade to Plus</a>
      </li>
      <br>
      <li>
        <a href="#" class="logeduser"><span class="fas fa-user mr-3 "></span>ad.developer1604@gmail.com <i class="fas fa-ellipsis-h"></i></a>
      </li>
    </ul>

    </nav>


    <div><h1 class="heading">WebX Chat</h1></div>
    <div class="icon_section">
        <i class="fas fa-sun fa-lg custom-color"></i>
        <i class="fas fa-bolt custom-color"></i>
        <i class="fas fa-exclamation-triangle custom-color"></i>
    </div>
    <div>
        <ul>
            <li id="example">Examples</li>
            <li id="Capabilities">Capabilities</li>
            <li id="Limitations">Limitations</li>
        </ul>
    </div>
    <div class="first_question_section">
        <button id="r1">"Explain quantum computing in simple terms"</button>
        <button id="r2">Remembers what user said earlier in the conversation</button>
        <button id="r3">May occasionally generate incorrect information</button>
    </div>
    <div class="second_question_section">
        <button>"Got any creative ideas for a 10 year old’s birthday?"</button>
        <button>Allows user to provide follow-up corrections</button>
        <button>May occasionally produce harmful instructions or biased content</button>

    </div>
    <div class="third_question_section">
        <button>"How do I make an HTTP request in Javascript?"</button>
        <button>Trained to decline inappropriate requests</button>
        <button>Limited knowledge of world and events after 2021</button>
    </div>
    <div class="download_btn">
        <span class="fas fa-download custom-color"></span>
    </div>
    <div class="inputfield">
        <input type="text" id="question" placeholder="Send a message">
        <a href="/webx/chat/" class="fas fa-paper-plane send-icon custom-color"></a>
    </div>
    <div>
        <p>Free Research Preview. WebX Chat may produce inaccurate information about people, places, or facts. WebX Chat July 20 Version</p>
    </div>
</div>
</div>
</body>
</html>